@charset "UTF-8";

/*Setting for tablets*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168));
        
    }
    main {
        background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168));
        position: relative;
    }
    section {
        display: flex;
        width: 650px;
        height: 320px;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
    }

    header h1 {
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
    }

    #picture {
        width: 490px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        background-position: left center;
    }

    label input {
        display: inline;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
        body {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            
        }

        main {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            position: relative;
            
        }

        section {
            display: flex;
            width: 900px;
            flex-direction: row-reverse;
            height: 370px;
            position: absolute;
        }

        header h1{
            margin-top: 8px;
            padding-top: 15px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
        }

        header p {
            padding-top: 15px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        #picture {
            border-radius: 0px 10px 10px 0px;
            width: 750px;
            height: 100%;
        }

        label > input {
            padding: 15px;
        }
}

@media screen and (min-width:1200px) {
    body {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            
        }

        main {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            position: relative;
        }

        section {
            display: flex;
            width: 900px;
            flex-direction: row-reverse;
            height: 370px;
            position: absolute;
        }

        header h1{
            margin-top: 8px;
            padding-top: 15px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
        }

        header p {
            padding-top: 15px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        #picture {
            border-radius: 0px 10px 10px 0px;
            width: 750px;
            height: 100%;
        }

        label > input {
            padding: 15px;
        }
    
}

@media screen and (orientation: landscape) and (min-height: 200px) and (max-height: 350px){
    body {
        background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168));
    }

    main {
        background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168));
        position: relative;   
    }

    header h1 {
        margin-top: 8px;
        margin-bottom: -3px;
        font-size: 4.7vh;
        text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.527);
    }

    header p {
        font-size: 1.6vw;
        line-height: 1.01em;
        margin-bottom: -4px;
    }

    section {
        display: flex;
        width: 470px;
        height: 200px;
    }

    #picture {
        width: 440px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        background-position: bottom center;
    }

    label > input {
        padding: 3.5px;
    }

    #enviar {
        padding: 3.5px;
    }

    #esque {
        padding: 3px;
    }
}