@charset "UTF-8";

/*Setting for tablets*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168));
        position: relative;
    }
    section {
        display: flex;
        width: 650px;
        height: 320px;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
    }

    #picture {
        width: 490px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        
    }

    label input {
        display: inline;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
        body {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            position: relative;
        }

        section {
            display: flex;
            width: 900px;
            flex-direction: row-reverse;
            height: 370px;
            position: absolute;
        }

        header h1{
            margin-top: 8px;
            padding-top: 15px;
        }

        header p {
            padding-top: 15px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        #picture {
            border-radius: 0px 10px 10px 0px;
            width: 750px;
            height: 100%;
        }

        label > input {
            padding: 15px;
        }
}

@media screen and (min-width:1200px) {
    body {
            background-image: linear-gradient(to top, rgb(66, 162, 166), rgb(111, 41, 168)); 
            position: relative;
        }

        section {
            display: flex;
            width: 900px;
            flex-direction: row-reverse;
            height: 370px;
            position: absolute;
        }

        header h1{
            margin-top: 8px;
            padding-top: 15px;
        }

        header p {
            padding-top: 15px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        #picture {
            border-radius: 0px 10px 10px 0px;
            width: 750px;
            height: 100%;
        }

        label > input {
            padding: 15px;
        }
    
}